@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=Inter&family=Work+Sans&family=Outfit&family=IBM+Plex+Sans&family=Plus+Jakarta+Sans&family=Space+Grotesk&family=Fira+Code&display=swap');

@import "tailwindcss";

@tailwind utilities;

@theme{
  --font-inter:"Inter";
  --footer-gray: #D9D9D9;
  --font-cardtext:"Roboto Condensed";
  
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, var(--font-inter), Helvetica, sans-serif; */
  font-family: Arial;
  height: 100%


}

.font-inter {
  font-family: var(--font-inter);
}


.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.avatar-rounded {
  border-radius: 9999px !important;
}