@reference "./globals.css";


.markdownProse h1 {
  @apply text-4xl font-extrabold mb-6;
  color: var(--foreground);
}

.markdownProse h2 {
  @apply text-3xl font-semibold mb-4;
  color: var(--foreground);
}

.markdownProse p {
  @apply text-lg leading-relaxed mb-4;
  color: var(--foreground);
}


.markdownProse ul {
  @apply list-disc ml-6;
}

.markdownProse ul > li {
  @apply mb-2;
}

.markdownProse img {
  @apply rounded-lg mx-auto shadow-lg mt-6 mb-2;
}

.markdownProse em {
  @apply block text-center text-gray-400 text-sm;
}

.markdownProse blockquote {
  @apply border-l-4 pl-4 italic text-gray-500;
}

.markdownProse hr {
  @apply my-8 border-t border-gray-300;
}
